/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
laravel.log
app/config/database.php
tests/_output/* 
app/config/database.php

app/storage/meta/services.json

