

button {
	
	
}

.form-control{
	width:100% !important;
}

hr {
	border-top: solid 2px #196F3D;
}

#job_details{
	padding: 5px;
}

a#job_url{
	position: absolute;
	vertical-align: center !important;
}